.venv/
venv/
ENV/
env/


__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/


.env
.env.local
.env.*.local


data/*.db
data/*.sqlite
data/*.sqlite3
*.log

.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


node_modules/
.pnpm-store/
dist/
build/